body {
	background-image: url("../image/fondo.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}


textarea {
	
	padding: 5px;
	margin-top: 12%;
	margin-left: 5%;
	border-width: 2px; 
	border-style: solid;
	letter-spacing : 2px;
	overflow: hidden;
	font-size:1em; 
	color: #313131; 
	text-align: center;
}


button {
	width: 60px;
	margin-left: 20%;
	padding: 10px;
	color: #000;
	font-weight: bold;
}

button:hover {
	background-color: #1DA1F2;
	color: #FFF;
}

.textConten {
	margin-top: 3%;
	margin-left: 5%;
	width: 40%;
	height: 10%;
	padding: 5px;
	border: solid 1px #49594A;
	background-color: #F4F5F9;
}

span {
	color: #074713;
	margin-left: 10%;
    border: solid darkgrey;
    padding: 2px;
}


.yellow {
	color: #F0FF08;
}

.red {
	color: #FF0000;
}

.orange {
	color: #FF7C00;
}